.container {
  /* background: url('../assets/Background.jpg'); */

  background-color: red;
  /* background: rgb(0,3,22); */
  /* background: linear-gradient(0deg, rgba(0,3,22,1) 0%, rgba(36,56,104,1) 100%); */

  /* width: 100vw; */
  /* height: 6680px; */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}