.imageContainer {
  align-self: center;
  margin-right: 10%;
}

/* Small screens */
@media only screen and (max-width: 955px) {
  .imageContainer {
      display: none;
  }
}

img.hover {
  -webkit-animation: mover 4s infinite  alternate;
  animation: mover 4s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateX(-50px) translateY(-100px); }
}